
@fieldSize: 720px;
@fieldTiles: 6;
@tileSize: @fieldSize / @fieldTiles;
@statsHeight: 180px;
@menuHeight: 180px;
@gameWidth: @fieldSize;
@gameHeight: @fieldSize + @statsHeight + @menuHeight;

@colorEarth: #2ecc71;
@colorWater: #3498db;
@colorAir: #ecf0f1;
@colorFire: #e74c3c;

::-moz-selection {
    background-color: transparent;
}
::selection {
    background-color: transparent;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #000;
    color: white;
    font-size: 22.5px;
    font-weight: 200;
    font-family: sans-serif;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Game {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: @gameHeight / -2;
    margin-left: @gameWidth / -2;
    background-color: #222;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: transform 0.25s;
}

.Game-grid {
    position: relative;
    margin: @menuHeight auto @statsHeight;
    border-radius: 8px / @fieldTiles * 8;
    width: @fieldSize;
    height: @fieldSize;
}

.Game-tile {
    position: absolute;
    border-color: #000;
    border-style: solid;
    width: @tileSize;
    height: @tileSize;
    color: #222;
    font-size: 8 / @fieldTiles * 2em;
    line-height: @tileSize;
    text-align: center;
    transition: border-width 0.125s, border-radius 0.25s;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
}

.Game-tile--moveup {
    -webkit-animation-name: moveup;
    animation-name: moveup;
}

.Game-tile--movedown {
    -webkit-animation-name: movedown;
    animation-name: movedown;
}

.Game-tile--moveleft {
    -webkit-animation-name: moveleft;
    animation-name: moveleft;
}

.Game-tile--moveright {
    -webkit-animation-name: moveright;
    animation-name: moveright;
}

.Game-tile--top {
    z-index: 10;
}

@-moz-keyframes moveup {
    from {
        margin-top: @tileSize;
    }

    to {
        margin-top: 0;
    }
}

@-webkit-keyframes moveup {
    from {
        margin-top: @tileSize;
    }

    to {
        margin-top: 0;
    }
}

@keyframes moveup {
    from {
        margin-top: @tileSize;
    }

    to {
        margin-top: 0;
    }
}

@keyframes movedown {
    from {
        margin-top: -@tileSize;
    }

    to {
        margin-top: 0;
    }
}

@-webkit-keyframes movedown {
    from {
        margin-top: -@tileSize;
    }

    to {
        margin-top: 0;
    }
}

@-moz-keyframes movedown {
    from {
        margin-top: -@tileSize;
    }

    to {
        margin-top: 0;
    }
}

@keyframes moveleft {
    from {
        margin-left: @tileSize;
    }

    to {
        margin-left: 0;
    }
}

@-webkit-keyframes moveleft {
    from {
        margin-left: @tileSize;
    }

    to {
        margin-left: 0;
    }
}

@-moz-keyframes moveleft {
    from {
        margin-left: @tileSize;
    }

    to {
        margin-left: 0;
    }
}

@keyframes moveright {
    from {
        margin-left: -@tileSize;
    }

    to {
        margin-left: 0;
    }
}

@-webkit-keyframes moveright {
    from {
        margin-left: -@tileSize;
    }

    to {
        margin-left: 0;
    }
}

@-moz-keyframes moveright {
    from {
        margin-left: -@tileSize;
    }

    to {
        margin-left: 0;
    }
}

.Game-tile--type0 {
    background-color: @colorEarth;
}

.Game-tile--type1 {
    background-color: @colorWater;
}

.Game-tile--type2 {
    background-color: @colorAir;
}

.Game-tile--type3 {
    background-color: @colorFire;
}

.Game-tile:before {
    position: absolute;
    top: 50%;
    left: 0;
    color: rgba(0,0,0,0.05);
    font-size: 2em;
    margin-top: -0.5em;
    width: 100%;
    text-align: center;
}


// .Game-tile--type0:before {
//     content: '🜃';
// }

// .Game-tile--type1:before {
//     content: '🜄';
// }

// .Game-tile--type2:before {
//     content: '🜁';
// }

// .Game-tile--type3:before {
//     content: '🜂';
// }


.Game-tile > * {
    pointer-events: none;
}

.Game-stats,
.Game-menu {
    position: absolute;
    width: 100%;
}

.Game-stats {
    top: 0;
    height: @statsHeight;
}

.Game-stats label {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 0.2em;
    width: 50%;
    font-size: 4.5em;
    line-height: @statsHeight;
    text-align: center;
    transition: color 0.25s;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.Game-stats label + label {
    left: 50%;
}

.Game-stats label.is-negative {
    margin-left: -0.155em;
}

.Game-stats label.is-low {
    color: @colorFire;
}

.Game--over .Game-score {
    -webkit-animation: pulse 1s infinite;
    -moz-animation: pulse 1s infinite;
    animation: pulse 1s infinite
}

@-webkit-keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@-moz-keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.Game-stats label:before {
    position: absolute;
    top: 5.75em;
    left: 50%;
    margin-left: -4.5em;
    width: 9em;
    font-size: 0.25em;
    line-height: 1;
    text-transform: uppercase;
}

.Game-score:before {
    content: "Score";
}

.Game-moves:before {
    content: "Moves Left";
}

.Game-stats label.is-negative:before {
    margin-left: -3.9em;
}

.Game-menu {
    bottom: 0;
    height: @menuHeight;
}

.Game-playAgain {
    display: block;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
    border: 4px solid #fff;
    border-radius: 8px / @fieldTiles * 8;
    margin: 100% auto (@menuHeight / 6) auto;
    width: @fieldSize / 2;
    height: @menuHeight / 3 * 2;
    font-size: 3em;
    line-height: 1.5;
    text-align: center;
    transition: margin 0.25s;
    cursor: pointer;
}

.Game--over .Game-playAgain {
    margin-top: @menuHeight / 6;
}

.Game-replay {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    margin: -0.5em 0 0 -0.5em;
    height: 1em;
    font-size: 4em;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    transition: transform 0.25s;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}

.Game-replay:before {
    content: "\21bb";
}

.Game--over .Game-replay {
    transform: scale(0);
}

