html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #222;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.Game {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -440px;
    margin-left: -320px;
    background-color: #111;
    box-shadow: 0 0 2em rgba(0,0,0,0.5);
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: transform 0.25s;
}

.Game-grid {
    position: relative;
    margin: 80px auto 160px;
    width: 640px;
    height: 640px;
}

.Game-tile {
    position: absolute;
    width: 80px;
    height: 80px;
    transition: margin 0.25s;
}

.Game-tile--type1 {
    background-color: brown;
}

.Game-tile--type2 {
    background-color: lightblue;
}

.Game-tile--type3 {
    background-color: white;
}

.Game-tile--type4 {
    background-color: orange;
}

.moves-up {
    margin-top: 80px;
}

.moves-down {
    margin-bottom: 80px;
}

.moves-left {
    margin-left: 80px;
}

.moves-right {
    margin-right: 80px;
}


.Game-menu,
.Game-stats {
    position: absolute;
    width: 100%;
}

.Game-menu {
    top: 0;
    height: 80px;
}


.Game-stats {
    bottom: 0;
    height: 160px;
}
