
@fieldSize: 720px;
@fieldTiles: 4;
@tileSize: @fieldSize / @fieldTiles;
@menuHeight: 90px;
@statsHeight: 180px;
@gameWidth: @fieldSize;
@gameHeight: @fieldSize + @menuHeight + @statsHeight;

@colorEarth: #2ecc71;
@colorWater: #3498db;
@colorAir: #ecf0f1;
@colorFire: #e74c3c;

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #222;
    color: white;
    font-size: 22.5px;
    font-family: sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.Game {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: @gameHeight / -2;
    margin-left: @gameWidth / -2;
    background-color: #111;
    box-shadow: 0 0 2em rgba(0,0,0,0.5);
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: transform 0.25s;
}

.Game-grid {
    position: relative;
    margin: @menuHeight auto @statsHeight;
    border-radius: @fieldSize / @tileSize * 4.5;
    width: @fieldSize;
    height: @fieldSize;
}

.Game-tile {
    position: absolute;
    border-color: #000;
    border-style: solid;
    // border-radius: @fieldSize / @tileSize * 4;
    width: @tileSize;
    height: @tileSize;
    color: #222;
    font-size: 8 / @fieldTiles * 2em;
    line-height: @tileSize;
    text-align: center;
    transition: border-width 0.125s, border-radius 0.25s;
    box-sizing: border-box;
}

.Game-tile--type0 {
    background-color: @colorEarth;
}

.Game-tile--type1 {
    background-color: @colorWater;
}

.Game-tile--type2 {
    background-color: @colorAir;
}

.Game-tile--type3 {
    background-color: @colorFire;
}

.Game-tile:before {
    position: absolute;
    top: 50%;
    left: 0;
    color: rgba(0,0,0,0.05);
    font-size: 2em;
    margin-top: -0.5em;
    width: 100%;
    text-align: center;
}

.Game-tile--type0:before {
    content: '🜃';
}

.Game-tile--type1:before {
    content: '🜄';
}

.Game-tile--type2:before {
    content: '🜁';
}

.Game-tile--type3:before {
    content: '🜂';
}



.Game-tile > * {
    pointer-events: none;
}

.Game-menu,
.Game-stats {
    position: absolute;
    width: 100%;
}

.Game-menu {
    top: 0;
    height: @menuHeight;
}

.Game-stats {
    bottom: 0;
    height: @statsHeight;
}

.Game-stats label {
    position: relative;
    display: block;
    width: 100%;
    font-size: 4.5em;
    line-height: 2;
    text-align: center;
}

.Game-stats label.is-negative {
    margin-left: -0.133em;
}

.Game-stats label:before {
    content: "Score";
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -3em;
    width: 6em;
    font-size: 0.25em;
}

.Game-stats label.is-negative:before {
    margin-left: -2.5em;
}

